.login-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 40px;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 1rem;
    width: 25rem;
    padding: 1rem 2rem;
}

.login-heading {
    text-align: center;
    margin: 1rem 0 2rem 0;
}

.mail-password-container {
    display: flex;
    flex-direction: column;
}

.mail-input {
    padding: .4rem;
    margin: .1rem 0 1rem 0;
}

.pass-input {
    padding: .4rem;
    margin: .1rem 0 1rem 0;
}

.forget-password-section {
    display: flex;
    justify-content: space-between;
}

.checkbox-inpt {
    width: 1rem;
    height: 1rem;
}

.login-btn {
    width: 100%;
    margin: 1rem 0;
}

.create-account-link {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}
